docker/
.settings/**
.metadata/**
target/**
server/**
.idea/**
.trash/**
/target/
/bin/
**/src/test/resources/**

*.faces-config.xml.jsfdia
*.iml

.project
.classpath
.DS_Store
.factorypath
.directory
.trash

pom_local.xml
TODO
nb-configuration.xml
